apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{.Chart.Name}}
  labels:
    app: {{.Chart.Name}}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{.Chart.Name}}
  template:
    metadata:
      labels:
        app: {{.Chart.Name}}
    spec:
      containers:
      - name: gateway
        {{ if .Values.gateway.image }}
        image: .Values.gateway.image
        {{ else }}
        image: {{.Chart.Name}}/gateway:{{.Chart.Version}}
        {{ end }}
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: {{.Values.gateway.port}}
      - name: endpoint
        {{ if .Values.endpoint.image }}
        image: .Values.endpoint.image
        {{ else }}
        image: {{.Chart.Name}}/endpoint:{{.Chart.Version}}
        {{ end }}
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: {{.Values.endpoint.port}}
